<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

     <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/css/skin.css">
</head>
<body>
<div class="home_banner w1100">
  <h1 class="home_logo l"><a href="/?a=cityview&amp;city=105"><img title="瑞思学科英语官网,美式教育领航者" alt="少儿英语培训,幼儿英语培训,儿童英语培训,少儿英语口语培训" src="/static/images/rise_logo.png"><img title="瑞思学科英语官网,美式教育领航者" alt="少儿学英语,幼儿学英语,儿童学英语" src="/static/images/rise_english.png"></a></h1>
  <div class="sideNav r"> <a href="javascript::" title="瑞思学科英语校区分布" class="branch" id="branch" looyu_bound="1"><img alt="瑞思全国校区分布" src="/static/images/ico_map.png" style="vertical-align:-4px;">&nbsp;<script type="text/javascript" src="/plus/getArea/getInfo.php?param=city"></script>杭州&nbsp;<img alt="瑞思全国所有城市校区" src="/static/images/tricon.png"></a>
    </div>
  </div>

<div class="navigation">
  <div class="webMenu">
	<h2>
		<ul>
		  <li><script type="text/javascript" ></script><a id="rise_page" >首页</a></li>
		  <li><a title="瑞思课程">瑞思课程</a></li>
          <li><script  type="text/javascript"></script><a id="rise_school">校区分布</a></li>
		  <li class="current"><script type="text/javascript"></script><a id="rise_activity" >精彩活动</a></li>
		  <li><a title="少儿英语学习" >教学成果</a></li>
		  <li><a title="少儿英语教师" >师资保障</a></li>
		  <li> <a title="美国游学" >美国游学</a> </li>
          <li><a title="瑞思学科英语" >关于瑞思</a></li>
		</ul>
	</h2>
    <div class="tel404"><span id="fenxiao_tel">400-610-1100</span></div>



  </div>
</div>
     <div class="main_looyu" style="display: block;">
	<a title="幼儿学英语_瑞思学科英语" target="_blank" rel="nofollow"><img src="/static/images/main_looyu.png" alt="儿童英语在线咨询_瑞思"></a>
    <em class="close_looyu"><img src="/static/images/close_looyu.png" alt="在线咨询关闭"></em>
</div>
<div class="side_looyu">
	<a title="少儿英语培训机构_瑞思学科英语" target="_blank" href="http://chat.looyu.com/chat/chat/p.do?c=51838&amp;f=114030&amp;g=82416&amp;a=cityview&amp;city=105" rel="nofollow"><img src="/static/images/sidenav.png" alt="在线客服_瑞思"></a>
</div>
</body>
</html>