<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title  %}{%  endblock  %}</title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/myjs.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/css/skin.css">
    <link rel="stylesheet" type="text/css" href="/static/css/rise_index.css">
</head>
<body>


<div class="home_banner w1100">
    <h1 class="home_logo l"><a href="/?a=cityview&amp;city=105"><img title="优迪森学科英语官网,美式教育领航者"
                                                                     alt="少儿英语培训,幼儿英语培训,儿童英语培训,少儿英语口语培训"
                                                                     src="/static/images/rise_logo.png"><img
            title="优迪森学科英语官网,美式教育领航者" alt="少儿学英语,幼儿学英语,儿童学英语" src="/static/images/rise_english.png"></a></h1>
{#    <div class="sideNav r"><a href="javascript::" title="优迪森学科英语校区分布" class="branch" id="branch" looyu_bound="1"><img#}
{#            alt="优迪森全国校区分布" src="/static/images/ico_map.png" style="vertical-align:-4px;">&nbsp;#}
{#        <script type="text/javascript" src="/plus/getArea/getInfo.php?param=city"></script>#}
{#        杭州&nbsp;<img alt="优迪森全国所有城市校区" src="/static/images/tricon.png"></a>#}
{#    </div>#}
</div>

<div class="navigation">
    <div class="webMenu">
        <h2>
            <ul>
                <li>
                    <script type="text/javascript"></script>
                    <a id="rise_page" href="/student">首页</a></li>
                <li><a title="优迪森课程" href="/course">优迪森课程 </a></li>
{#                <li>#}
{#                    <script type="text/javascript"></script>#}
{#                    <a id="rise_school">校区分布</a></li>#}
{#                <li class="current">#}
{#                    <script type="text/javascript"></script>#}
{#                    <a id="rise_activity">精彩活动</a></li>#}
{#                <li><a title="少儿英语学习">教学成果</a></li>#}
{#                <li><a title="少儿英语教师">师资保障</a></li>#}
{#                <li><a title="美国游学">美国游学</a></li>#}
                <li><a title="优迪森学科英语" href="/about">关于优迪森</a></li>
            </ul>
        </h2>
        <div class="tel404"><span id="fenxiao_tel">189-1311-0638</span></div>


    </div>
</div>


<div class="main_looyu" style="display: block;">


    <a title="幼儿学英语_优迪森学科英语" target="_blank" rel="nofollow"  href="http://wpa.qq.com/msgrd?v=3&uin=448673723&site=qq&menu=yes"><img src="/static/images/main_looyu.png"
                                                                alt="儿童英语在线咨询_优迪森"></a>
    <em class="close_looyu"><img src="/static/images/close_looyu.png" alt="在线咨询关闭"></em>
    <script type="text/javascript">
        var n = 0;
        setTimeout('lyshow()', 1500);
        $('.close_looyu').click(function () {
            n++;
            $('.main_looyu').hide();
            setTimeout('lyshow()', 20000);
        })
        function lyshow() {
            if (n < 15) {
                $('.main_looyu').show();
            }
        }
    </script>
</div>
<style type="text/css">
    .side_looyu, .main_looyu {
        position: fixed;
        z-index: 2000;
        top: 220px;
        right: 0;
    }

    .main_looyu {
        top: 50%;
        margin-top: -150px;
        left: 50%;
        margin-left: -230px;
        height: 270px;
        width: 558px;
        display: none;
    }

    .close_looyu {
        position: absolute;
        top: 38px;
        right: 39px;
        cursor: pointer;
    }
</style>
<div class="side_looyu">
    <a title="少儿英语培训机构_优迪森学科英语" target="_blank"
       href="http://wpa.qq.com/msgrd?v=3&uin=448673723&site=qq&menu=yes"
       rel="nofollow"><img src="/static/images/sidenav.png" alt="在线客服_优迪森"></a>
</div>


{% block content %}一些内容，这里可不填{% endblock %}

<div class="clearfix home_bottom">
    <div class="h_bottom w1100">
        <div class="bottom_logo l"><a title="优迪森学科英语官网" href="http://www.risecenter.com?a=cityview&amp;city=105"
                                      rel="nofollow"><img alt="优迪森学科英语官网" src="/static/images/logo_footer.png"></a></div>
{#        <div class="bottom_app l">#}
{#            <p class="mb10"><a title="RiseClub优迪森社区苹果IOS客户端" target="_blank"#}
{#                               href="https://itunes.apple.com/us/app/riseclub/id869364498?l=zh&amp;ls=1&amp;mt=8&amp;a=cityview&amp;city=105"#}
{#                               rel="nofollow"><img alt="RiseClub优迪森社区苹果IOS客户端"#}
{#                                                   src="/static/images/ico_bottom_ip.png"></a><a#}
{#                    title="RiseClub优迪森社区安卓android客户端" target="_blank"#}
{#                    href="http://club.risecenter.com/getApp.php?go2Android&amp;a=cityview&amp;city=105"#}
{#                    rel="nofollow"><img alt="RiseClub优迪森社区安卓android客户端" src="/static/images/ico_bottom_ad.png"></a></p>#}
{#            <p>Rise Club优迪森社区下载安装</p>#}
{#        </div>#}
        <div class="bottom_share l">
            <p class="mb10"><a title="优迪森学科英语腾讯微博" target="_blank"
                               href="http://t.qq.com/risecenter?a=cityview&amp;city=105" rel="nofollow"><img
                    alt="优迪森学科英语腾讯微博" src="/static/images/ico_bottom_tx.png"></a><a title="优迪森学科英语新浪微博" target="_blank"
                                                                                   href="http://weibo.com/riseedu?a=cityview&amp;city=105"
                                                                                   rel="nofollow"><img alt="优迪森学科英语新浪微博"
                                                                                                       src="/static/images/ico_bottom_sn.png"></a>
            </p>
            <p>关注我们</p>
        </div>
        <div class="bottom_weixin l">
            <img alt="优迪森学科英语官方微信，微信号：chenglong77333" src="/static/images/footer_wx.jpg">
        </div>
        <div class="bottom_gotop r"><a href="#top"><img src="/static/images/ico_mouse.png"></a></div>
        <div class="bottom_phone r">
            <p><span>预约试听课：</span></p>
            <p><em class="fsize24">189-1311-0638</em></p>
        </div>
    </div>
</div>
<div class="home_footer">
    <p><a title="少儿英语培训机构" href="https://m.risecenter.com/?a=cityview&amp;city=105" target="_blank"
          rel="nofollow">优迪森移动站</a> | <a title="优迪森学科英语官网" href="/?a=cityview&amp;city=105" target="_blank">学科英语</a> | <a
            title="幼儿英语课程" href="/course/?a=cityview&amp;city=105" target="_blank">优迪森课程</a>
{#        | <a title="少儿英语培训学校"#}
{#                                                                                                 href="/campuses/?a=cityview&amp;city=105"#}
{#                                                                                                 target="_blank">校区分布</a>#}
        | <a title="少儿英语学习" href="/teach/?a=cityview&amp;city=105" target="_blank">教学成果</a> | <a title="少儿英语教师"
                                                                                                 href="/safeguard/?a=cityview&amp;city=105"
                                                                                                 target="_blank">师资保障</a>
        | <a title="优迪森学科英语招聘" href="/jobs/?a=cityview&amp;city=105" target="_blank">诚聘英才</a> | <a title="学科英语招商合作加盟"
                                                                                                  href="/about/cooperation.html?a=cityview&amp;city=105"
                                                                                                  target="_blank">授权合作</a>
        | <a title="少儿英语培训机构" href="/about" target="_blank">关于优迪森</a> | <a title="优迪森学科英语联系我们"
                                                                                                   href="/brand/contact/?a=cityview&amp;city=105"
                                                                                                   target="_blank">联系我们</a>
    <p>江苏优迪森教育有限公司 京ICP备09087483号 <img
            src="/static/images/file_ico.png" style="vertical-align:middle;"><span
            style="height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;vertical-align:middle; font-size:11px;">京公网安备 11010102002030号</span></a>
    </p>
</div>

<style>
#cs_box {width:120px; height:220px; color:#FFF; background:#54a7ff; position:fixed; left:10px; top:300px; border-radius:10px; z-index:1000}
#cs_box span {height:20px; line-height:20px;display:block;}
.cs_close {color:#FFF; position:absolute; right:10px; top:8px; cursor:pointer; font-size:20px;font-family:Verdana, Geneva, sans-serif}
.cs_title {font-size:14px; margin:10px; font-weight:bold;}
.cs_img {width:100px; height:100px; background:#FFF; margin:10px;background-image:url(/static/images/logo_footer.png) }
.cs_info {font-size:12px; margin:0px 10px; overflow:hidden; text-align:center;}
.cs_btn {width:100px; height:25px; background:#333; margin:5px 10px; border-radius:5px; font-size:12px; line-height:25px; color:#FFF; text-align:center; cursor:pointer;}
</style>
<body>
<!-- 代码部分begin -->
<div id='cs_box'>
	<span class='cs_title'>在线咨询</span>
	<span class='cs_close'>x</span>
	<div class='cs_img'></div>
	<span class='cs_info'>有什么可以帮到你</span>
	<div class='cs_btn'>点击咨询</div>
</div>
<script src="/static/js/qq.js"></script>
<script>
	myEvent(window,'load',function(){
		cs_box.set({
			img_path : '/static/images/ico_rise_index.png',	//设置图片路径
			qq : '448673723',	//设置QQ号码
		});
	});
</script>


</body>
</html>