<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/css/skin.css">
</head>
<body>
<div class="navigation">
  <div class="webMenu">
	<h2>
		<ul>
		  <li><script type="text/javascript" ></script><a id="rise_page" >首页</a></li>
		  <li><a title="瑞思课程">瑞思课程</a></li>
          <li><script  type="text/javascript"></script><a id="rise_school">校区分布</a></li>
		  <li class="current"><script type="text/javascript"></script><a id="rise_activity" >精彩活动</a></li>
		  <li><a title="少儿英语学习" >教学成果</a></li>
		  <li><a title="少儿英语教师" >师资保障</a></li>
		  <li> <a title="美国游学" >美国游学</a> </li>
          <li><a title="瑞思学科英语" >关于瑞思</a></li>
		</ul>
	</h2>
    <div class="tel404"><span id="fenxiao_tel">400-610-1100</span></div>



  </div>
</div>
     <div class="main_looyu" style="display: block;">
	<a title="幼儿学英语_瑞思学科英语" target="_blank" rel="nofollow"><img src="/static/images/main_looyu.png" alt="儿童英语在线咨询_瑞思"></a>
    <em class="close_looyu"><img src="/static/images/close_looyu.png" alt="在线咨询关闭"></em>
</div>
</body>
</html>